*, :after, :before {
    box-sizing:border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background:#592e7d;
    padding:0;
    margin:0;
    width:100vw;
    overflow-x: hidden
}
h2{
    margin:.5em 0 0 0;
    font-size:4vw;
    font-weight:600;
    line-height: .9em;
}
small {
    font-size: 1.75vw;
    padding:0em;
}
p{
    font-size:1.25vw;
    margin:0;
}
#svg{
    z-index:100;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 100%;
    height: 100%;
    stroke-width:wpx;
    stroke:white;
  }
.menu{
    z-index:101;
    position:fixed;
    width:fit-content;
    height:fit-content;
    border-radius:50%;
    background:#592e7d;
    border:white solid 1px;
    padding:.75em;
    text-align: center;
    vertical-align:center;
    cursor:pointer;
}
@media (max-width:750px){
    .menu{
        box-shadow:5px 5px 6px rgba(0,0,0,.4)
    }
}
.menu > img{
    max-width:25px;
    vertical-align: middle;
}

.hero-container{
    width:100vw;
    height:80vh;
    background-image: url("hero.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top;
    position:relative;
}
.logo{
    display:flex;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    padding-top:1em;
}
.logo img{
    margin-left:auto;
    margin-right:auto;
    width:95%
}
.hero{
    display:flex;
    margin-left:auto;
    margin-right:auto;
    width:85%;
    padding:1em;
    color:white;
    align-items:center
}
.hero h1{
    line-height:1em;
    font-size:6vw;
    margin-top:0em;
    margin-bottom:0em;
}
@media (max-width:768px){
    .hero h1{
        font-size:7vw;
    }
}
@media (max-width:425px){
    .hero h1{
        font-size:9vw;
    }
}

.hero-gradient{
    position:absolute;
    background-image: linear-gradient(rgba(89,46,125,0), #592e7d);
    top:90%;
    bottom:0;
    left:0;
    right:0;
}
#with-text{
    margin-top:.5em;
    position:relative;
    width:fit-content;
    border-radius:4px;
    overflow:hidden;
    z-index:100;
}
#with-text h1{
    position:relative;
    z-index:150;
    margin:0em .1em;
    
}
.with-text-bg{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:100%;
    transition: all .75s cubic-bezier(0,1.05,.76,.98);
    background:#616161;    
}
#svg2{
    position:absolute;
    right:10%;
    bottom:10%;
    z-index:500;
    opacity:75%;
}

.icon-box{
    margin-right:auto;
    margin-left:auto;
    position:relative;
    display:flex;
    width:75%;
    background-image: radial-gradient(#7a348c, #592e7d,#592e7d);
    justify-content:center;
}

.icon-box > *{
    padding:2em;
}
.icon-box > .left{
    width:50%;
    padding:4em;
}
@media (max-width:992px){
    .icon-box > .left{
    padding:2em;}
}
.animate-svg{
    stroke-dasharray:1;
    stroke-dashoffset:1;
    transition: 2s ease;
}
#icon0, #icon1, #icon2{
    display:none;
}


.icon-box > .right{
    width:50%;
    color:white;
}

.accordian{
    margin-top:2em;
}

@media (max-width:660px){
    .icon-box{
        flex-direction:column;
    }
    .icon-box > .left{
        width:50%;
        padding:1em;
        margin-right:auto;
        margin-left:auto;
    }
    .icon-box > .right{
        width:90%;
        padding:0;
        margin-left:auto;
        margin-right:auto;
    }
    .icon-box > .right h2{
        text-align:center;
        font-size:3vw;
    }
    .content-box.active .accordian-content{
    background:rgba(255,255,255,.15);}
    
    .accordian-content p{
        font-size:2vw;
    }
    .accordian{
        margin-top:1em;
    }
}
.accordian-content{
    position:relative;
    height:0;
    transition:.5s;
    overflow: hidden;
    padding-left:2em;
}
.content-box.active .accordian-content{
    height:15vh;
    padding-top:.5em;
    padding-left:.5em;
}
.content-box.active .label{
    border:4px solid;
    border-radius:.25em;
    padding-left:.5em;
}
.label{
    cursor:pointer;
    border-bottom: 3px solid #461c75;
    padding-top:.5em;
    padding-bottom:.5em;
    padding-left:.5em;
    transition:.5s;
    font-size:12px;
    font-weight:600;
    width:100%;
}
@media (max-width:1020px){
    .label{
       padding-top:1em;
        padding-bottom:1em;
    }}
.first{
    border-top: 3px solid #461c75;
}
.label:hover{
    padding-left:1em;
}



.button-container{
    margin-top:-1em;
    width:100%;
    justify-content:center;
    overflow:visible;
    text-align:center;
    position: relative;
}
@media (max-width:1020px){
    .button-container{
        margin-top:-5em;
    }}
button{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    background:none;
    font-weight:600;
    color: white;
    border:none;
    cursor:pointer;
    transition: all .5s ease-in-out;
}
button:hover{
    color:#cd0f59;
    transform:scale(1.15,1.15)
}
.button-block{
    content: "";
    display: block;
    width: 3px;
    height: 10vh;
    background: #fff;
    margin: 0.5rem auto 0;
    border-radius:2px;
}

.info-wrapper{
    width:100%;
    height:100%;
    position:relative;
    margin-bottom:10em;
}
.infobox-container{
    max-width:75%;
    height:75vh;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.infobox{
    position:absolute;
    background-image: url("bg1.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    cursor:pointer;
    aspect-ratio:2/1.08;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:0em 3em
}
.infobox > .content{
    top:50%;
    transform:translate(0,-50%);
}

@media (max-width:660px){
    .infobox{
        left:50%;
        transform:translateX(-50%);
        margin-top:1em;
        padding:0em 1.5em;
        background-image: url("bg2.png");
        background-position:top;
        aspect-ratio:676/1096;
        height:95vh;
    }
    #path{
        display:none;
    }
    .infobox > .content{
        top:25%;
        transform:translate(10%,-50%);
        width:95%;
    }
    .infobox > .content h2{
        font-size:4vw;
        line-height:3vw
    }
}
.content{
    margin-right:auto;
    position:relative;
    display:flex;
    flex-direction:column;
    color:white;
    width:50%;
}
.wide{
    width:75%;
}
.stat-container{
    margin-top:1em;
    margin-bottom:1em;
}
@media (max-width:768px){
    .wide{
       width:100%;
    }
    .stat-container{
        margin-top:.5em;
        margin-bottom:.5em;
    }
}

.gradient-text{
    margin-bottom:-.15em;
    font-weight:600;
    position:relative;
    width:fit-content;
    background:linear-gradient(90deg,#f60136,#b80086);
    font-size:10vw;
    line-height:.70em;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
@media (max-width:660px){
    .infobox > .content{
        top:30%;
    }
    .infobox > .content h2{
        margin-top:0;
        font-size:6vw;
        line-height:5vw;}
    .infobox > .content > small{
        font-size:2vw;
    }
    .stat-container > p{
        font-size:2.5vw;
    }
    .gradient-text{
        font-size:12vw;
    }}
@media (max-width:500px){
    .infobox > .content{
        top:30%;
    }
    .infobox > .content h2{
        font-size:max(2rem,8vw);
        line-height:max(1.75rem,7vw);}
    .infobox > .content > small{
        font-size:max(.7rem,2.5vw);
    }
    .stat-container > p{
        font-size:max(.8rem,3vw);
    }
    .gradient-text{
        font-size:max(4.5rem,15vw);
    }
}
#number{
    line-height:0em;
}
#percent{
    font-size:.5em;
}
.link-box{
    position:relative;
    width:fit-content;
    border-radius:5px;
    padding:.5rem;
}
.link-box a{
    position:relative;
   text-decoration:none;
   color:white; 
   z-index:3;
   font-size:max(.75rem,1.5vw);
   
}
.link-box-bg{
    z-index:2;
    background:green;
    top:0;
    bottom:0;
    left:0;
    right:100%;
    position:absolute;
    border-radius:5px;
    transition: all 0.6s cubic-bezier(0,1.05,.76,.98)
}
@media (max-width:750px){
    .link-box-bg{
        right:0%;
    }
}

.link-box:hover{
    outline:white solid 2px;
}
