*, :after, :before {
    box-sizing:border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background:#592e7d;
    padding:0;
    padding-bottom:5em;
    margin:0;
}
h2{
    margin:.5em 0 0 0;
    font-size:2em;
    font-weight:600;
    line-height: 1em;
}
small {
    font-size: 1em;
    line-height: 1.2em;
    padding:0em;
}
p{
    margin:0;
}
#svg{
    z-index:100;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 100%;
    height: 100%;
    stroke-width:wpx;
    stroke:white;
  }
.menu{
    z-index:101;
    position:fixed;
    width:fit-content;
    height:fit-content;
    border-radius:50%;
    background:#592e7d;
    border:white solid 1px;
    padding:.75em;
    text-align: center;
    vertical-align:center;
    cursor:pointer;
}
.menu > img{
    max-width:25px;
    vertical-align: middle;
}
@media (max-width:750px){
    #svg{
        display:none;
    }
    .menu{
        padding:1.25em;
    }
    .menu > img{
        max-width:35px;
        max-height:35px;
        vertical-align: middle;
    }
}
.hero-container{
    width:100%;
    height:80vh;
    background-image: url("hero.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top;
    position:relative;
}
.logo{
    display:flex;
    wide:100%;
    justify-content:center;
    padding:1em;
}
.logo > *{
    margin-right:auto;
    margin-left:auto;
}
.hero{
    display:flex;
    margin-left:auto;
    margin-right:auto;
    width:85%;
    padding:6em;
    color:white;
    align-items:center
}
.hero h1{
    line-height:1em;
    font-size:4em;
    margin-top:0em;
    margin-bottom:0em;
}
.hero-gradient{
    position:absolute;
    background-image: linear-gradient(rgba(89,46,125,0), #592e7d);
    top:90%;
    bottom:0;
    left:0;
    right:0;
}
#with-text{
    margin-top:.5em;
    position:relative;
    width:fit-content;
    border-radius:4px;
    overflow:hidden;
    z-index:100;
}
#with-text h1{
    position:relative;
    z-index:150;
    margin:0em .1em;
    
}
.with-text-bg{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:100%;
    transition: all .75s cubic-bezier(0,1.05,.76,.98);
    background:#616161;    
}
#svg2{
    position:absolute;
    right:10%;
    bottom:10%;
    z-index:500;
    opacity:75%;
}

.icon-box{
    margin-right:auto;
    margin-left:auto;
    position:relative;
    display:flex;
    width:75%;
    background-image: radial-gradient(#7a348c, #592e7d,#592e7d);
    justify-content:center;
}

.icon-box > *{
    padding:2em;
}
.icon-box > .left{
    width:50%;
    padding:4em;
}
.animate-svg{
    stroke-dasharray:1;
    stroke-dashoffset:1;
    transition: 2s ease;
}
#icon0, #icon1, #icon2{
    display:none;
}


.icon-box > .right{
    width:50%;
    color:white;
}
@media (max-width:1020px){
    .icon-box{
        flex-direction:column;
    }
    .icon-box > .left{
        width:50%;
        margin-right:auto;
        margin-left:auto;
    }
    .icon-box > .right{
        width:75%;
        padding:0;
        margin-left:auto;
        margin-right:auto;
    }
    .content-box.active .accordian-content{
    background:rgba(255,255,255,.15);}
}
.accordian{
    margin-top:2em;
}
.accordian-content{
    position:relative;
    height:0;
    transition:.5s;
    overflow: hidden;
}
.content-box.active .accordian-content{
    height:150px;
    padding:2em;
}
.content-box.active .label{
    border:4px solid;
    border-radius:.25em;
    padding-left:.5em;
}
.label{
    cursor:pointer;
    border-bottom: 3px solid #461c75;
    padding-top:1em;
    padding-bottom:1em;
    padding-left:.5em;
    transition:.5s;
    font-weight:600;
    width:65%;
}
@media (max-width:1020px){
    .label{
       width:100%;
    }}
.first{
    border-top: 3px solid #461c75;
}
.label:hover{
    padding-left:1em;
}



.button-container{
    margin-top:2em;
    width:100%;
    justify-content:center;
    overflow:visible;
    text-align:center;
    position: relative;
}
button{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    background:none;
    font-weight:600;
    color: white;
    border:none;
    cursor:pointer;
    transition: all .5s ease-in-out;
}
button:hover{
    color:#cd0f59;
    transform:scale(1.15,1.15)
}
.button-block{
    content: "";
    display: block;
    width: 3px;
    height: 75px;
    background: #fff;
    margin: 0.5rem auto 0;
}



.info-wrapper{
    width:100%;
    height:100%;
    position:relative;
}
.infobox-container{
    width:75%;
    height:75vh;
    margin-top:2em;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
@media (max-width:1700px){
    .infobox-container{
        margin-top:-4em;
    }
}
@media (max-width:1020px){
    .infobox-container{
        margin-top:2em
    }
}
.infobox{
    position:absolute;
    background-image: url("bg1.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    cursor:pointer;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:5em 10em;
}
@media (max-width:1500px){
    .infobox{
        padding:0em 5em;
    }
}

.infobox>.content{
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width:1020px){
    .infobox{
        background-image: url("bg2.png");
    }
    .infobox>.content{
        top: 0%;
        transform: translateY(0%);
        width:50%;
        margin-left:auto;
        margin-right:auto;
        margin-top:3em;
    }
}
@media (max-width:900px){
    .infobox>.content{
        margin-top:4em;
        width:75%;
    }
}
@media (max-width:750px){
    .infobox>.content{
        margin-top:6em;
        margin-left:1em;
        margin-right:1em;
    }
}
@media (max-width:560px){
    .infobox>.content{
        width:95%;
        margin-top:8em;
        margin-left:.5em;
        margin-right:.5em;
    }
}
.content{
    position:relative;
    display:flex;
    flex-direction:column;
    color:white;
    width:33%;
}
.wide{
    width:50%;
}
.stat-container{
    margin-top:1em;
    margin-bottom:1em;
}
.gradient-text{
    margin-bottom:-.15em;
    font-weight:600;
    position:relative;
    width:fit-content;
    background:linear-gradient(90deg,#f60136,#b80086);
    font-size:6em;
    line-height:.70em;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
#number{
    line-height:0em;
}
#percent{
    font-size:.5em;
}
.link-box{
    position:relative;
    width:fit-content;
    padding:1em 2em 1em 2em;
    border-radius:5px;
}
.link-box a{
    position:relative;
   text-decoration:none;
   color:white; 
   z-index:3;
   font-size:1em;
   
}
.link-box-bg{
    z-index:2;
    background:green;
    top:0;
    bottom:0;
    left:0;
    right:100%;
    position:absolute;
    border-radius:5px;
    transition: all 0.6s cubic-bezier(0,1.05,.76,.98)
}
@media (max-width:750px){
    .link-box-bg{
        right:0%;
    }
}

.link-box:hover{
    outline:white solid 2px;
}